/*  CONTACTO CONTROLLER  */

.botones-filtro {
    display: flex;
    justify-content: space-around;
    margin: 30px 20px 10px 20px;

    button {
        font-weight: 200;
        font-size: 20px;
        text-decoration: none;
        color: $color-principal;
        border: hidden;
        background-color: rgba(101, 109, 74, 0);

        &:hover {
            background-color: $color-principal;
            color: $color-secundario;
            font-weight: 300;
            padding: 5px 10px 5px 10px;
            border-radius: 0px 10px 0px 10px;
        }
    }
}

.registros-estilo {
    padding: 10px;
    margin: 10px 0;

    .registro-item {
        border: 0.5px solid rgb(74, 80, 63);
        border-radius: 0px 30px 0px 30px;
        margin: 10px 20px 20px 20px;
        padding: 20px;

        a{
            width: 10%;
            text-align: center;
            font-family: "Mulish", sans-serif;
            font-size: nth($fonts , 2);
            @extend %enlaces; 
            display: flex;
            justify-self: center;
            justify-content: center;
            align-items: center;
            background-color: $color-secundario;
            padding: 5px 10px 5px 10px;
            border-radius: 0px 15px 0px 15px;
            &:hover{
                border: 1px solid rgba(101, 109, 74, 0);
                box-shadow: 0px 0px 10px 0.5px;
            }
        }
    }
}