/*  INDEX  */

main {
    align-items: center;
    justify-content: center;
}    
    
.hero{
    width: 100%;
    height: calc(100vh - 90.4px);
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: $color-secundario;
    @include flex (flex, start, center);
    /*display: flex;
    justify-content: start;
    align-items: center;*/
    flex-direction: column;
    img{
        width: 20%;
        background-color: $color-principal;
        border-color: $color-secundario;
        border-radius: 0px 30px 0px 30px;
        margin-top: 60px;
        margin-bottom: 20px;
        padding: 15px;
        color: white;
    }
    h1{
        font-size: nth($fonts, 4);
        color: $color-principal;
        margin-bottom: 40px;
    }
    a{
        font-family: "Mulish", sans-serif;
        font-size: nth($fonts, 2);
        @extend %enlaces;
        /*text-decoration: none;
        color: $color-principal;*/
        background-color: $color-secundario;
        padding: 10px;
        margin: 10px;
        border-radius: 0px 15px 0px 15px;
        &:hover{
            border: 1px solid rgba(101, 109, 74, 0);
            box-shadow: 0px 0px 10px 0.5px;
        }
    }
}

.bienvenidos{
    width: 90%;
    height: 600px;
    @include flex (flex, center, center);
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    div{
        width: 50%;
        @include flex (flex, center, center);
        /*display: flex;
        justify-content: center;
        align-items: center;*/
        flex-direction: column;
        margin: 0px auto;
        img{
            width: 290px;
            margin: 0px;
        }
        .bienvenidos-imagen2{
            position: relative;
            bottom: 70px;
            left: 150px;
            z-index: -2;
        }
    }
    div{
        h2{
            width: 100%;
            font-family: "Mulish", sans-serif;
            font-weight: 200;
            font-size: nth($fonts , 5);
            font-style: italic;
            color: $color-principal;
            padding: 0px 0px 20px 0px;
        }
        p{
            width: 100%;
            font-weight: 300;
            font-size: nth($fonts , 2);
            padding: 5px;
            text-align: left;
        }
    }
}

.elegirnos{
    width: 100%;
    height: 400px;
    background-color: rgb(213, 217, 200);
    @include flex (flex, center, center);
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    div{
        width: 50%;
        @include flex (flex, center, center);
        /*display: flex;
        justify-content: center;
        align-items: center;*/
        flex-direction: column;
        h2{
            width: 100%;
            font-weight: 200;
            font-size: nth($fonts , 5) /*30px*/;
            font-style: italic;
            color: $color-principal;
            margin: 20px 20px 20px 0px;
        }
        p{
            width: 100%;
            font-weight: 300;
            font-size: nth($fonts , 2) /*15px*/;
            margin: 5px 20px 5px 0;
        }
    }
    img{
        width: 30%;
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
    }
}

.servicios{
    width: 80%;
    height: 500px;
    margin: 30px 0px 0px 0px;
    @include flex (grid, center, center);
    /*display: grid;
    justify-content: center;
    align-items: center;*/
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 60px 125px 125px 120px;
    gap: 30px;
    grid-template-areas:
        "img titulo"
        "img arquitectura"
        "img interiorismo"
        "img asesoramiento";
    margin: 50px auto;
    margin-top: 60px;
    div{
        h2{
            width: 100%;
            font-weight: 100;
            font-size: nth($fonts , 1) /*13px*/;
            font-style: italic;
            text-align: left;
        }
        h3{
            width: 100%;
            font-weight: 200;
            font-size: nth($fonts , 5) /*30px*/;
            font-style: italic;
            color: $color-principal;
            }
        h4{
            width: 100%;
            font-weight: 500;
            font-size: nth($fonts , 3) /*18px*/;
            color: $color-principal;
            display: inline;
        }
        p{
            width: 100%;
            font-weight: 100;
            font-size: nth($fonts , 2) /*15px*/;
            margin: 5px 0px 10px 0px;
            text-align: justify;
        }
        a{
            width: 100%;
            font-family: "Mulish", sans-serif;
            font-size: nth($fonts , 2) /*15px*/;
            @extend %enlaces;
            /*text-decoration: none;
            color: $color-principal;*/
            background-color: $color-secundario;
            padding: 5px 10px 5px 10px;
            border-radius: 0px 15px 0px 15px;
            &:hover{
                border: 1px solid rgba(101, 109, 74, 0);
                box-shadow: 0px 0px 5px 0.5px;
            }
        }
    }
    .servicios-imagenes {
        grid-area: img;
        z-index: -1;
    }
    
    .servicios-titulo {
        grid-area: titulo;
    }
    
    .servicios-arquitectura {
        grid-area: arquitectura;
    }
    
    .servicios-asesoramiento {
        grid-area: asesoramiento;
    }
}

.whatsapp{
    a{
        img{
            width: 3%;
            position: fixed;
            bottom: 50px;
            right: 50px;
        }
    }
}