/*  INTERIORISMO  */
.hero-interiorismo{
    width: 100%;
    height: calc(100vh - 90.4px);
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: rgb(237, 224, 212);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}